<h1> Search </h1>

<h3>Station Name: <%= @station.name %></h3>
<p>Station Address: <%= @station.address %></p>
<p>Fuel Type: <%= @station.fuel_type %></p>
<p>Access Times: <%= @station.access_times %></p>

<h3>Directions Info</h3>
<p>Distance to Destination: <%= @directions.distance %></p>
<p>Travel Time: <%= @directions.travel_time %></p>
<p>Direction Instructions: <%= @directions.narrative %></p>